{{define "title"}}About{{end}}
{{define "main"}}
<header>
    <h1>About El Gopher</h1>
    <p>A personal space to share my projects, and articles that i have written</p>
</header>

<section>
    <h2>Who am I?</h2>
    <p>
	I'm Agustin Oliveros a developer from Argentina, with an obvious love for GO, I created this page to write about my journey from Front/Mobile development to newer things, in this case backend with GO; My projects, and maybe in the future my own articles.
    </p>
</section>

<section>
    <h2>Tech Stack</h2>
    <ul>
        <li><strong>Go</strong> for backend logic and templating</li>
        <li><strong>HTMX</strong> for lightweight interactions</li>
        <li><strong>PostgreSQL</strong> for persistence</li>
    </ul>
</section>

<section>
    <h2>Why El Gopher?</h2>
    <p>
	Go was the language that really brought back my interest in learning how to properly use a programming language, read books about it and just play around with new projects. That is why i wanted to pay some respect to the language by using the Gopher name, also the "El" part is just "The" but in spanish, andsince my primary language is spanish i liked the word play.
    </p>
</section>

{{end}}

