{{define "title"}}About{{end}}
{{define "main"}}
<header>
    <h1>About El Gopher</h1>
    <p>A personal space to share my projects, and articles that i have written</p>
</header>

<section>
    <h2>Who am I?</h2>
    <p>
        I'm Agustin Oliveros a developer from Argentina, exploring backend development, Go, and
        building things that feel good to use.
    </p>
</section>

<section>
    <h2>Tech Stack</h2>
    <ul>
        <li><strong>Go</strong> for backend logic and templating</li>
        <li><strong>HTMX</strong> for lightweight interactions</li>
        <li><strong>PostgreSQL</strong> for persistence</li>
    </ul>
</section>
{{end}}

