{{define "title"}}About Me{{end}}
{{define "description"}}Details of ElGopher page, what technologies are used, and Go resources that inspired this project{{end}}
{{define "main"}}
<div class="scnd-header">
  <h1>{{getTranslation . "about"}}</h1>
</div>

<section>
  <h2>{{getTranslation . "about.techstack"}}</h2>
  <ul class="double-column">
    <li><strong>Go</strong>{{getTranslation . "about.gotechstack"}}</li>
    <li><strong>HTMX</strong>{{getTranslation . "about.htmxtechstack"}}</li>
    <li>
      <strong>PostgreSQL</strong>{{getTranslation . "about.psqltechstack"}}
    </li>
    <li><strong>Pico.css</strong>{{getTranslation . "about.picotechstack"}}</li>
  </ul>
</section>

<section>
  <h2>{{getTranslation . "about.thanks"}}</h2>
  <p>{{addBreakLines (getTranslation . "about.thanksparagraph")}}</p>
  <ul>
    <li>
      <strong>Jon Bodner</strong> author of Learning Go: An Idiomatic Approach
      to Real-world Go Programming.
    </li>
    <li>
      <strong>Thorsten Ball</strong> author of Writing An Interpreter In Go.
    </li>
    <li><strong>Alex Edwards</strong> author of Let's Go.</li>
    <li><strong>Katherine Cox-Buday</strong> author of Concurrenct in Go.</li>
    <li><strong>Jonathan Hall and Shay Nehmad</strong> hosts of Cup 'o Go.</li>
  </ul>
</section>
{{end}}
