{{define "title"}}{{.Article.Title}}{{end}}
{{define "description"}}{{.Article.Excerpt}}{{end}}
{{define "ogtype"}}article{{end}}
{{define "main"}}
<div class="article-header">
  <div class="article-headertop">
    <h1>{{.Article.Title}}</h1>
    {{if .IsAuthenticated}}
    <a href="/article/edit/{{.Article.Slug}}" role="button" class="secondary">
      Edit
    </a>
    {{end}}
	</div>
    <h6>Published on: {{humanDate .Article.Created}}</h6>
  </div>
  <div class="container">{{.ArticleBody}}</div>
  {{end}}
</div>
