{{define "title"}}{{.Article.Title}}{{end}}
{{define "description"}}{{.Article.Excerpt}}{{end}}
{{define "ogtype"}}article{{end}}
{{define "main"}}
<div class="article-header">
  <div class="article-headertop">
    <h1>{{.Article.Title}}</h1>
    {{if .IsAuthenticated}}
    <a href="/article/edit/{{.Article.Slug}}" role="button" class="secondary">
      Edit
    </a>
    {{end}}
	</div>
    <h6>
	{{getTranslation . "article.publishedon"}}
	{{humanDate .Article.Created}}
    </h6>
    <h6 style="font-style: italic; font-weight: normal;">
	{{$time := getTimetoRead .Article.Body}}
	{{$time}} {{if eq $time 1}}
	{{getTranslation . "article.minute"}}
	{{else}}
	{{getTranslation . "article.minutes"}}
	{{end}}
    </h6>
  </div>
  <div class="container">{{.ArticleBody}}</div>
  {{end}}
</div>
