{{define "title"}}Articles{{end}}
{{define "main"}}
<div class="scnd-header">
<h1>El Gopher Articles</h1>
</div>
<div class="container">

<article>
<header><a>Understanding Goroutines</a></header>
A simple explanation of how concurrency works in Go and why goroutines are lightweight and powerful.
</article>

<article>
<header><a>HTMX + Go: a perfect match</a></header>
Learn why HTMX fits so well with Go templates and how to build dynamic pages without a full SPA
</article>

<article>
<header><a>HTMX + Go: a perfect match</a></header>
Learn why HTMX fits so well with Go templates and how to build dynamic pages without a full SPA
</article>

<article>
<header><a>HTMX + Go: a perfect match</a></header>
Learn why HTMX fits so well with Go templates and how to build dynamic pages without a full SPA
</article>

<article>
<header><a>HTMX + Go: a perfect match</a></header>
Learn why HTMX fits so well with Go templates and how to build dynamic pages without a full SPA
</article>

<article>
<header><a>HTMX + Go: a perfect match</a></header>
Learn why HTMX fits so well with Go templates and how to build dynamic pages without a full SPA
</article>
</div>
{{end}}
