{{define "title"}}New Article{{end}} {{define "main"}}
<div class="scnd-header">
  <h1>New Article</h1>
</div>
<div id="form-errors"></div>
<form
  {{if
  .Article.ID}}
  hx-patch="/article/{{.Article.ID}}"
  {{else}}
  hx-post="/article/create"
  {{end}}
  hx-target="#form-errors"
  hx-swap="innerHTML"
  novalidate
>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  <label for="title">
    Title
    <input
      type="text"
      id="title"
      name="title"
      value="{{.Article.Title}}"
      placeholder="Enter the post title"
      hx-trigger="blur"
      hx-get="/article/create"
      hx-target="next .error"
    />
    {{template "field_error" .Form.FieldErrors.title}}
  </label>
  <label for="body">
    Body
    <textarea
      name="body"
      id="body"
      placeholder="Enter the post content"
      hx-trigger="blur"
      hx-get="/article/create"
      hx-target="next .error"
      onInput="this.parentNode.dataset.replicatedValue = this.value"
    >
{{.Article.Body}}</textarea
    >
    {{template "field_error" .Form.FieldErrors.body}}
  </label>
  <label for="preview">
    Preview
    <input
      type="checkbox"
      role="switch"
      name="preview"
      id="preview"
      hx-include="#body"
      hx-trigger="change"
      hx-get="/article/create"
      hx-target="#preview-area"
    />
  </label>
  {{template "article_preview" .}}
  <label for="published">
    Publish Now?
    <input
      type="checkbox"
      value="{{.Article.IsPublished}}"
      id="published"
      name="published"
      role="switch"
    />
  </label>

  {{if .Article.ID}}
  <button type="submit">Edit Post</button>
  {{else}}
  <button type="submit">Save Post</button>
  {{end}}
</form>
{{end}}
