{{define "title"}}Login{{end}}
{{define "description"}}Login to El Gopher blog to manage articles and content{{end}}
{{define "ogtype"}}website{{end}}
{{define "main"}}
<div class="scnd-header">
  <h1>Login</h1>
</div>
{{template "form_error" .Form.FormErrors}}
<form
  hx-post="/user/login"
  hx-target="#form-errors"
  hx-swap="innerHTML"
  novalidate
>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  <label class="email">
    Email
    <input
      type="text"
      id="email"
      name="email"
      hx-trigger="blur"
      hx-get="/user/login"
      hx-target="next .error"
    />
    {{template "field_error" .Form.FieldErrors.email}}
  </label>
  <label class="password">
    Password
    <input
      type="password"
      id="password"
      name="password"
      hx-trigger="blur"
      hx-get="/user/login"
      hx-target="next .error"
    />
    {{template "field_error" .Form.FieldErrors.email}}
  </label>
  <button type="submit">Log In</button>
</form>
{{end}}
