{{define "title"}}Projects{{end}} {{define "main"}}
<div class="scnd-header">
  <h1>Personal Projects</h1>
</div>

<div class="container">
  <article class="project">
    <header><h4>Project Title</h4></header>
    <div class="project-inner">
      <img
        src="https://img.freepik.com/vector-gratis/palabra-hola-tipografia-vectorial_53876-85344.jpg?semt=ais_hybrid&w=740&q=80"
        alt="Project image"
      />
      <div class="project-description">
        <p>
          This is a short summary of the project. You can describe what it does,
          the tech used, or the purpose.
        </p>
        <button class="contrast">GitHub →</button>
      </div>
    </div>
  </article>
</div>
{{end}}
