{{define "title"}}Signup{{end}} {{define "main"}}
<div class="scnd-header">
  <h1>SignUp</h1>
</div>
{{template "form_error" .Form.FormErrors}}
<form
  hx-post="/user/signup"
  hx-target="#form-errors"
  hx-swap="innerHTML"
  novalidate
>
  <label class="name">
    Name
    <input
      type="text"
      id="name"
      name="name"
      hx-trigger="blur"
      hx-get="/user/signup"
      hx-target="next .error"
    />
    {{template "field_error" .Form.FieldErrors.name}}
  </label>
  <label class="email">
    Email
    <input
      type="text"
      id="email"
      name="email"
      hx-trigger="blur"
      hx-get="/user/signup"
      hx-target="next .error"
    />
    {{template "field_error" .Form.FieldErrors.email}}
  </label>
  <label class="password">
    Password
    <input
      type="password"
      id="password"
      name="password"
      hx-trigger="blur"
      hx-get="/user/signup"
      hx-target="next .error"
    />
    {{template "field_error" .Form.FieldErrors.email}}
  </label>
  <button type="submit">SignUp</button>
</form>
{{end}}
