{{define "nav"}}
<nav>
  <ul>
    <li><img class="logo" src="/static/img/gopher.png" alt="logo" /></li>
    <li><strong>ElGopher</strong></li>
  </ul>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/articles">Articles</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/about">About</a></li>
    {{if .IsSpanish}}
    <li><a href="/pref/lng">ES</a></li>
    {{else}}
    <li><a href="/pref/lng">EN</a></li>
    {{end}} {{if .IsLightTheme}}
    <li><a href="/pref/thm">W</a></li>
    {{else}}
    <li><a href="/pref/thm">B</a></li>
    {{end}}
  </ul>
</nav>
{{end}}
