{{define "nav"}}
<nav>
  <ul>
    <li><img class="logo" src="/static/img/gopher.png" alt="logo" /></li>
    <li><strong>ElGopher</strong></li>
  </ul>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/articles">Articles</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/about">About</a></li>

    <li class="lang-switch">
      <a href="/pref/lng" class="{{if .IsSpanish}}active{{end}}">ES</a>
      <span>/</span>
      <a href="/pref/lng" class="{{if not .IsSpanish}}active{{end}}">EN</a>
    </li>
    {{if not .IsLightTheme}}
    <li>
      <a href="/pref/thm"> 🌙 </a>
    </li>
    {{else}}
    <li>
      <a href="/pref/thm"> ☀️</a>
    </li>
    {{end}}
  </ul>
</nav>
{{end}}
