* {
  font-family: "Roboto Mono", monospace;
}

header, nav, main, footer {
	padding: 2px calc((100% - 1200px) / 2) 0;
}

header { 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	border-bottom: 1px solid #E4E5E7;
	padding-top: 15px; 
	padding-bottom: 10px;
}

nav {
    gap: 1rem;
	display: flex; 
	align-items: center;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a.live { 
	cursor: default;
	text-decoration: underline; 
}

.scnd-header {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.brand {
    display: flex;
    gap: 8px;
align-items: center;
}
.brand img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    display: block;
}
.brand h4 {
    margin: 0;             /* <-- override Pico default margin */
    line-height: 1;        /* cleaner vertical alignment */
    padding: 0;
}

.contact-row {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contact-item svg {
    transition: opacity 0.2s ease;
}

.contact-item:hover svg {
    opacity: 0.7;
}

.container {
max-width: 100%;
margin-top: 25px;
padding: 1rem;
}

.article {
padding: 1.5rem;
margin-bottom: 1.2rem;
border-color: #FFFFFF;
border-width: 1px;
  border-style: solid;
  border-color: white;
}

.article:hover {
transform: translateY(-3px);
box-shadow: 0 0 18px rgba(255, 255, 255, 0.25);
}

.article-title {
margin: 0 0 0.5rem 0;
font-size: 1.4rem;
color: #345E5E;
}

.article-summary {
margin: 0;
color: #d3cdcd;
line-height: 1.5;
}

.project {
padding: 1.5rem;
margin-bottom: 1.2rem;
border-width: 1px;
border-style: solid;
border-color: white;
display: flex;
flex-direction: column;
gap: 20px;
}

.project-inner {
display: flex;
gap: 20px;
align-items: flex-start;
justify-content: flex-start;
}

.project img {
width: 300px;
height: auto;
object-fit: cover;
border: 1px solid white;
}

.project h2 {
	text-align: center;
}

.project-summary {
color: #cfcfcf;
max-width: 600px;
line-height: 1.5;
}
